<h1>Editing caddie</h1>

<%= render 'form' %>

<%= link_to '<i class="icon-eye-open"></i>'.html_safe, @caddie, :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, caddies_path, :class => 'btn btn-small' %>
