<h1>New volunteer</h1>

<%= form_for(@volunteer_form, url: volunteers_url, method: :post, html: {class: 'form-vertical' }) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<%- end %>

<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, volunteers_path %>
