<h1>Editing golfer</h1>

<%= render 'form' %>

<%= link_to '<i class="icon-eye-open"></i>'.html_safe, @golfer, :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, golfers_path, :class => 'btn btn-small' %>
