<h1>Jobs</h1>
<hr>
<table class ='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to "#{job.title} <span class='muted'> - #{job.committee.name} committee".html_safe, job %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_job_path(job), :class => 'btn btn-small' %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, job, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
