<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_job_path(@job), :class => 'btn btn-small' if current_user %>
<%= link_to '<i class="icon-list"></i>'.html_safe, jobs_path, :class => 'btn btn-small' %>
