<h1>Editing Shift</h1>

<%= render 'form' %>

<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @shift, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, shifts_path, :class => 'btn btn-small' %>
