<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @shift.time %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_shift_path(@shift), :class => 'btn btn-small' if current_user %>
<%= link_to '<i class="icon-list"></i>'.html_safe, shifts_path, :class => 'btn btn-small' %>
