<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @shift.time %>
</p>

<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_shift_path(@shift), :class => 'btn btn-small' if current_user.try(:admin?) %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, shifts_path, :class => 'btn btn-small' %>
