<h1>Editing committee</h1>

<%= render 'form' %>

<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @committee, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, committees_path, :class => 'btn btn-small' %>
