p#notice = notice
h2
  | #{@committee ? @committee.name : "All Committees"} Schedule
hr
table#data_table.table.table-striped
  thead
    tr
      th
      th
      - unless @committee
        th
      - @days.each do |day|
        th.day-header colspan="6" = day.titlecase
    tr
      th Last Name
      th First Name
      - unless @committee
        th Committees
      - @days.each do |day|
        th Avail
        th Job
        th Time
        th sort time
        th Hole
        th sort hole

  tbody#schedule
    - @volunteers.each do |volunteer|
      tr
        td = link_to(volunteer.last_name, volunteer)
        td = link_to(volunteer.first_name, volunteer)
        - unless @committee
          td = committees_for(volunteer)
        - @days.each do |day|
          td = volunteer.send(day)

          - if @read_write
            td = editable(volunteer,
                          "#{day}_job_id",
                          type: "select",
                          source: @job_options,
                          )
            td = editable(volunteer,
                          "#{day}_time",
                          type: "select",
                          source: Volunteer.time_options,
                         )
            td = volunteer.time_option_index_for(day)
            td = editable(volunteer,
                          "#{day}_hole",
                          tpl: '<input type="number" max=19 min=0>',
                         )
            td = volunteer.send("#{day}_hole")

          - else
            td = volunteer.send("#{day}_job").try(:title)
            td = volunteer.send("#{day}_time")
            td = volunteer.time_option_index_for(day)
            td = volunteer.send("#{day}_hole")
            td = volunteer.send("#{day}_hole")

javascript:
  var committee = #{ @committee.present? };
  if(committee) {
    $(document).ready(function() {
      $('#data_table').dataTable( {
        "scrollX": true,
        "iDisplayLength": 100,
        'columnDefs': [
          { 'orderData':[5],  'targets': [4] },
          { 'orderData':[7],  'targets': [6] },
          { 'orderData':[11],  'targets': [10] },
          { 'orderData':[13],  'targets': [12] },
          { 'orderData':[17], 'targets': [16] },
          { 'orderData':[19], 'targets': [18] },
          { 'orderData':[23], 'targets': [22] },
          { 'orderData':[25], 'targets': [24] },
          {
            'targets': [5, 7, 11, 13, 17, 19, 23, 25],
            'visible': false,
            'searchable': false
          },
        ]
      });
    });
  } else {
    $(document).ready(function() {
      $('#data_table').dataTable( {
        "scrollX": true,
        "iDisplayLength": 100,
        'columnDefs': [
          { 'orderData':[6],  'targets': [5] },
          { 'orderData':[8],  'targets': [7] },
          { 'orderData':[12], 'targets': [11] },
          { 'orderData':[14], 'targets': [13] },
          { 'orderData':[18], 'targets': [17] },
          { 'orderData':[20], 'targets': [19] },
          { 'orderData':[24], 'targets': [23] },
          { 'orderData':[26], 'targets': [25] },
          {
            'targets': [6, 8, 12, 14, 18, 20, 24, 26],
            'visible': false,
            'searchable': false
          },
        ]
      });
    });
  }
  StoneyPoint.InlineEditing.init()
