<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_committee_path(@committee), :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, committees_path, :class => 'btn btn-small' %>
