<p>
  A Volunteer entered the following:
  <br />
  "<%= @first_name %> <%= @last_name %>"
</p>

<p>
  Unfortunately, we were unable to find them in our system. Please reach out and help them get signed up.
</p>

Start by <%= link_to 'Searching our People', people_url %>

<p>
  Thanks!
  <br />
  The Symetra Team
</p>