/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen_bootstrap
 *= require_tree .
 */

@import "font-awesome";

input {
  &.city {
    width: 50%;
  }
  &.state {
    width: 15%;
    margin-left: 5%;
  }
  &.zip {
    width: 25%;
    margin-left: 5%;
  }
}

hr.fat
{
  border-top: 2px solid black;
}

.jumbotron {
  &.welcome-header {
    background: url('stoney_point.jpg');
    background-size: 100% auto;
    h1 {
      color: white !important;
    }
  }
  &.returning-header {
    background: url('stoney_point.jpg');
    background-size: 100% auto;
    h1 {
      color: white !important;
    }
  }
  &.edit-header {
    background: url('stoney_point.jpg');
    background-size: 100% auto;
    h1 {
      color: white !important;
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #286090 !important;
}

.welcome_volunteers, .welcome_caddies, .welcome_golfers {
  label {
    font-size: 16px;
    line-height: 20px;
  }
}

div.hidden-form-field {
  position:absolute;
  top: -9999px;
  visibility:hidden;
}

a.add_link, a.delete_link {
  span {
    color: #CCC;
  }
  &:hover, span:hover {
    color: green;
    background-color: transparent;
  }
}

.editable-empty {
  color: #ccc !important;
}
