// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "editable/bootstrap-editable";

header {
  margin-bottom: 50px;
}

h5 {
  margin-bottom: 7px;
  padding-bottom: 3px;
  border-bottom: 1px solid #EEE;
  font-weight: 600;
  color: #707070;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: green;
  border-color: green;
}


.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li > a,
.pagination > li > span {
  color: green;
}

.truncate {
  height: 114px;
  overflow: hidden;
}
