<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @organization, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, organizations_path, :class => 'btn btn-small' %>
